
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin:0;padding:0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    font-weight:600;
}

html {
    font-size: 14px;
}
.no{
    font-size: 14px;
    color: black;
}

.head{
    margin-left: 20px;
    margin-right: 0px;
    border:1px solid rgb(92, 12, 12) !important;
    border-radius:10px;
    height:50px;
    margin-top:5px;
    width:96vw;
    background-color:rgb(82, 248, 5);
    justify-content: center;
    display: flex;
    
}
.head h1{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    
}

.material{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}
.material .material_white{
    background-color:white !important;
    padding: 1.42857rem !important;
    padding-top: 1.07143rem !important;
    box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 10%);
    
    
}
.sub_title{
    font-size: 1.4rem;
    margin-top: 8px;
    color: black !important;
}
.sub_inner{
     border-color: blue;
    background-color:white;
    margin-top: 1.42857rem !important;
    margin-bottom: 0.71429rem !important;
}
.sub_end{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(147, 16, 16);
}
a{
    text-decoration: none !important;
}
.sub_pdf{
    font-size: 19px;
    margin-bottom:15px;
    color:rgb(48, 48, 158);
    margin-top:25px;
}
.sub_ppt{
    font-size: 19px;
    margin-bottom:15px;
    color:rgb(246, 90, 6);
    margin-top:25px;
}
.sub_m_button {
    
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #0e4a7f;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.sub_m_button:hover{
  color: rgb(18, 21, 21);
  background-color:rgb(42, 141, 86);
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:focus,.btn:hover {
    text-decoration: none
}

.btn.focus,.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.btn.disabled,.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}
li {
    margin:10px;
}

@media(max-width:400px){
    .head{
        margin-left: 5px;
        width:97vw;
    }
    
}
@media(min-width:370px) {
    .material .material_white{
       
       border:none !important;
    }
}